/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .navbar-vertical.navbar-expand-xs .navbar-collapse {
    display: block;
    overflow: auto;
    height: calc(100vh - 250px) !important;
}

.alert-primary {
  border-left: 2px solid rgb(204, 34, 34);
  border-radius: 0 !important;
}

.control-input-image-position {
  position: absolute;
  margin-top: -100px;
  background-color: #555;
}

.control-input-image {
  height: 105px;
  width: 105px;
  margin-top: -107px;
  border-radius: 200px;
  opacity: 0;
  z-index: 1;
}

/* fORM Progress */
.progresses{
  display: flex;
      align-items: center;
 }

 .line{

      width: 120px;
  height: 6px;
  background: #63d19e;
 }

 
 .steps{

  display: flex;
  background-color: #63d19e;
  color: #fff;
  font-size: 14px;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

 }

 /* End FormProgress */

 .bottom-alert {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  z-index: 999;
  background-color: #fff;
  opacity: 50px;
  -webkit-animation:bounce 1s infinite;
 }

 @-webkit-keyframes bounce {
  0%       { bottom:2px; }
  25%, 75% { bottom:10px; }
  50%      { bottom:15px; }
  100%     {bottom:0;}
}

.modal-backdrop
{
    opacity:0.2 !important;
}